boto==2.37.0
dj-database-url==0.3.0
Django==1.7.1
django-postgrespool==0.3.0
django-storages==1.1.8
gunicorn==19.3.0
Pillow==3.0.0
Pmw==2.0.0
preppy==2.3.4
psycopg2==2.6
pyRXP==2.1.0
reportlab==3.3.0
selenium==2.45.0
SQLAlchemy==0.9.9
