{% extends "template.html" %}
{% load staticfiles %}
{% load mysite_tags %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

<script type="text/javascript">
$(function () {
  /* add confirm dialog to delete buttons on book lists */
  $(document).delegate('.delete', 'click', function () {
    var msg = 'Really delete?';
    var result = confirm(msg);

    if (!result) {
      return false;
    }
  });

  init_slide_section('add-wallpaper', 'add-wallpaper-form');
  init_slide_section('list-wallpaper', 'list-wallpaper-form', true);
});
</script>
{% endblock %}

{% block content %}
<div id="main-content">
    <div class="row">
        <div class="large-12 columns">
            <nav role="navigation">
                <ul class="group">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2 id="add-wallpaper">Add Wallpaper</h2><hr>
            <form id="add-wallpaper-form" action="{% url 'form-wallpaper' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wallpaper_form }}
                <button type="submit">Add</button>
            </form>

            <h2 id="list-wallpaper">Wallpapers</h2><hr>
            <form id="list-wallpaper-form" action="{% url 'form-wallpaper' %}" method="post">
                {% csrf_token %}
                <div class="wallpaper-list">
                    {% if w_page.has_previous %}
                    <a class="arrow left-arrow" href="{% url_qs 'dashboard' p=w_page.previous_page_number %}">&lt;</a>
                    {% endif %}
                    <ul class="wallpaper-list group">
                        {% for w in wallpapers %}
                        <li class="left">
                            <button class="overlay delete" type="submit" name="delete_wallpaper" value="{{ w.id }}"></button>
                            <img src="{{ w.image.url }}">
                        </li>
                        {% empty %}
                        <li class="placeholder">There are no wallpapers in the database.</li>
                        {% endfor %}
                    </ul>
                    {% if w_page.has_next %}
                    <a class="arrow right-arrow" href="{% url_qs 'dashboard' p=w_page.next_page_number %}">&gt;</a>
                    {% endif %}
                </div>
            </form>

            <h2>Add Resume Category</h2><hr>

            <h2>Add Resume Item</h2><hr>
        </div>
    </div>
</div>
{% endblock %}