{% extends "template.html" %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div id="main-content">
    <div class="row">
        <div class="large-12 columns">
            <nav role="navigation">
                <ul class="group">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h2>Add Wallpaper</h2><hr>
            <form action="{% url 'forms-wallpaper' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wallpaper_form }}
                <button type="submit">Add</button>
            </form>

            <h2>Wallpapers</h2><hr>

            <h2>Add Resume Category</h2><hr>

            <h2>Add Resume Item</h2><hr>
        </div>
    </div>
</div>
{% endblock %}