{% extends 'template.html' %}
{% load staticfiles %}

{% block http_headers %}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main-content" class="row">
    <div id="headshot" class="medium-4 columns">
        <img src="{% static 'images/michael_zhu.jpg' %}">
        <a id="button-github" class="social-icon" alt="Github" title="Github" href="https://github.com/mjz48" target="_blank"></a>
        <a id="button-linkedin" class="social-icon" alt="LinkedIn" title="LinkedIn" href="http://www.linkedin.com/pub/michael-zhu/37/478/595/en" target="_blank"></a>
        <a id="button-facebook" class="social-icon" alt="Facebook" title="Facebook" href="https://www.facebook.com/michael.zhu.182" target="_blank"></a>
    </div>
    <div class="medium-8 columns">
        <h1>Michael Zhu</h1>
        <h5 class="subtitle">{{ site_title }}</h5>
        <p>White text on top of a picture. What are we doing right here? What are we doing right now. What is this. What is life...</p>
    </div>
</div>
{% endblock %}