{% extends 'template.html' %}
{% load staticfiles %}

{% block http_headers %}
<link id="resume-css-include" rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">

<script type="text/javascript">
$(function () {
  // override ctrl + p event
  $(document).bind("keyup keydown", function(e) {
    if (e.ctrlKey && e.keyCode == 80) {
      printResume();
    }
  });
});
</script>
{% endblock %}

{% block content %}
<div id="main-content">
    <div class="row">
        <nav role="navigation">
            <ul class="group">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a id="print-resume" href="{% static 'documents/Michael Zhu\'s Precious Little Life - ECE.pdf' %}" target="_blank">Download PDF</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div id="resume-container" class="large-12 columns">
            <h1>Michael Zhu</h1>
            <p class="subtitle">Santa Clara, CA 95051<br>Cell: 401.626.0605 | www.ultimatezhu.com | mikejzhu@gmail.com</p>

            <h2>Summary of Qualifications</h2><hr>
            <ul>
                <li>2 years of C++ industry experience - programming C/C++ since college and high school</li>
                <li>Motivated and goal oriented - constantly learning new frameworks/tools/skills to take on new projects</li>
                <li>"Big Picture Mindset" - designs with robustness and maintainability in mind for useful, re-usable end results</li>
                <li>Full stack experience - RTL digital design, firmware & RTOS, application level programming, web apps</li>
                <li>Experience with embedded microcontroller programming (ATMEL) from school courses</li>
                <li>Microprocessor design experience (performance analysis and comparing architectural tradeoffs</li>
            </ul>

            <h2>Selected Skills</h2><hr>
            <table class="skills">
                <tr>
                    <td>Programming/Scripting</td>
                    <td>
                        <ul class="skills group">
                            <li>Python</li>
                            <li>C/C++</li>
                            <li>Java</li>
                            <li>Matlab</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>HDL/Digital Design</td>
                    <td>
                        <ul class="skills group">
                            <li>Verilog</li>
                            <li>SystemC</li>
                            <li>MIPS Assembly</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Web Development</td>
                    <td>
                        <ul class="skills group">
                            <li>Django</li>
                            <li>Heroku</li>
                            <li>JavaScript</li>
                            <li>LAMP Server Experience</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Environment/Tools</td>
                    <td>
                        <ul class="skills group">
                            <li>Visual Studio 2008</li>
                            <li>Oracle VirtualBox</li>
                            <li>Android ADB</li>
                            <li>Linux (Gentoo/Ubuntu)</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <h2>Work Experience</h2><hr>
            <table class="experience">
                <tr>
                    <td>Independent Web Dev. (2014 - Present)</td>
                    <td>Santa Clara, CA</td>
                    <td></td>
                </tr>
            </table>
            <ul>
                <li>Use python and Django framework to create multiple interactive MVC style websites</li>
                <li>Responsible for everything - backend development/testing, front end UI, web admin, deployment</li>
                <li>Working towards realizing own vision; learning and practicing tools/design techniques with rigorous code output</li>
            </ul>

            <table class="experience">
                <tr>
                    <td>SanDisk Corporation (2012 - 2014)</td>
                    <td>Milpitas, CA</td>
                    <td>Systems Design Engineer II</td>
                </tr>
            </table>
            <ul>
                <li>Modeled NAND flash controller design on a behavioral level with SystemC library. Helped define scope of project with a team of 6 other engineers. Made architectural design recommendations based on modeling results. Made simulation design decisions for tradeoffs between simulation performance and model accuracy.</li>
                <li>Made automated tools for running regression and sanity tests to reduce runtime from 1 month to 5 days. Written in python to utilize multiprocessor capabilities with a javascript enabled web front-end. Very user friendly interface, error free test results collection, and maintainable.</li>
            </ul>

            <table class="experience">
                <tr>
                    <td>Cisco Systems (2011)</td>
                    <td>Milpitas, CA</td>
                    <td>Dev. Test Intern</td>
                </tr>
            </table>
            <ul>
                <li>Learned to update server racks with new iterations of firmware using Cisco IOS. Tracked sanity of new releases with Excel spreadsheet. Learned about Quality of Service features implemented in high end enterprise routers.</li>
            </ul>

            <h2>Relevant Courses</h2><hr>
            <ul>
                <li class="strong em">ECE 4750 (Computer Architecture) - Advanced microprocessor RTL design and trade-off analysis</li>
                <li class="strong em">CS 4410/4411 (Operating Systems with Practicum) - Theory with projec to create a basic OS</li>
                <li>INFO 3300 (Data Driven Web Applications) - REST services, MVC frameworks, and "Web 2.0" apps</li>
                <li>CS 2800 (Discrete Math and Algorithms) - Proof by Inductions, Finite State Machines, Combinatorics</li>
            </ul>

            <h2>Education</h2><hr>
            <table class="education">
                <tr>
                    <td>Cornell University (2008 - 2012)</td>
                    <td>B.S. Electrical and Computer Engineering, Minor in CS</td>
                    <td class="shrink">GPA: 3.59</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}