{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Michael Zhu</title>

    <!-- font includes -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

    <!-- css includes -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="row">
    <div class="small-12 columns">
        {% block header %}
        FUCK
        {% endblock %}
    </div>
</div>

{% block content %}
stuff
{% endblock %}

<div class="row">
    <div class="small-12 columns">
        {% block footer %}
        SHIT
        {% endblock %}
    </div>
</div>
</body>
</html>