<!DOCTYPE html>
{% load staticfiles %}
{% load template_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>Michael Zhu :: {{ title }}</title>
    {% else %}
    <title>Michael Zhu</title>
    {% endif %}

    <!-- font includes -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

    <!-- css includes -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- script includes -->
    <script type="text/javascript" src="{% static 'script/jquery-2.1.3.min.js' %}"></script>

    {% block http_headers %}
    {% endblock %}
</head>
<body>
<!-- sweet little wallpaper thing -->
{% get_wallpaper %}

<div id="wallpaper" style="background-image: url('{{ wallpaper.image.url }}');"></div>
<div id="wallpaper-info">
    <p><a href="{{ wallpaper.link }}" target="_blank">{{ wallpaper.title }}</a></p>
    {% if wallpaper.author %}
    <p class="author">by {{ wallpaper.author }}</p>
    {% elif wallpaper %}
    <p class="author">Artist Unknown</p>
    {% endif %}
</div>
<a id="button-zhq" class="icon" href="{% url 'login' %}"></a>

{% block content %}
{% endblock %}
</body>
</html>