/* dashboard.css
 * styles for dashboard page
 *
 * Michael Zhu, 2015
 */

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0;
}

hr {
  border-top-width: 2px;
  margin-top: 0.3rem;
}

/* wallpaper styles */
ul.wallpaper-list {
  width: 100%;
  list-style: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

ul.wallpaper-list li {
  position: relative;
  margin: 8px;
}

ul.wallpaper-list li img {
  width: 128px;
  height: 72px;
}

ul.wallpaper-list li:not([class="placeholder"]):hover:after {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

ul.wallpaper-list li.placeholder {
  padding: 5px 15px;
}

div.wallpaper-list {
  position: relative;
}

.arrow {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 48pt;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.arrow:hover {
  opacity: 1;
}

.arrow:hover a {
  color: #FFFFFF;
}

.left-arrow {
  left: -4rem;
}

.right-arrow {
  right: -4rem;
}