/* front.css
 * styles for front page
 *
 * Michael Zhu, 2015
 */

#headshot {
  border-right: 1px solid rgba(34, 34, 34, 0.5);
  padding-bottom: 2rem;
}

#button-facebook {
  background-image: url('../images/facebook-logo.png');
}

#button-facebook:hover {
  background-image: url('../images/facebook-logo-on.png');
}

#button-linkedin {
  background-image: url('../images/linkedin-logo.png');
}

#button-linkedin:hover {
  background-image: url('../images/linkedin-logo-on.png');
}

#button-github {
  background-image: url('../images/github-logo.png');
}

#button-github:hover {
  background-image: url('../images/github-logo-on.png');
}

body {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  margin: 0;
}

.subtitle {
  color: #333333;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Oswald';
  text-align: center;
  margin: 0.5rem 0 1.3rem 0;
}

.subtitle:before, .subtitle:after {
  content: '--';
  margin: 0 10px;
}

nav ul {
  margin-left: auto;
  margin-right: auto;
}