/* front.css
 * styles for front page
 *
 * Michael Zhu, 2015
 */

/* grid styles */
#main-content {
  position: relative;
  top: 0;
}

@media (max-width: 40rem) {
  .vertical-align-middle {
    top: 75px !important;
    transform: translateY(0);
  }
}

#headshot {
  padding-bottom: 2rem;
}

#headshot img {
  width: 100%;
}

@media (max-width: 40rem) {
  #headshot {
    padding: 10px;
  }
}

#content {
  border-left: 2px solid rgba(234, 234, 234, 0.7);
}

@media (max-width: 40rem) {
  #content {
    padding: 10px;
  }
}

#main-text { border-radius: 5px; padding: 5px 10px; }
#main-text a { text-decoration: underline; }
#main-text p { text-align: center; font-size: 14pt; }
#main-text p:last-child { margin-bottom: 0.3rem; }

/* navigation styles */
nav ul {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

a.social-icon {
  width: 35px;
  height: 35px;
  display: block;
  background-size: cover;
  margin-top: 10px;
  margin-left: 5px;
}

#button-facebook {
  background-image: url('../images/facebook-logo.png');
}

#button-facebook:hover {
  background-image: url('../images/facebook-logo-on.png');
}

#button-linkedin {
  background-image: url('../images/linkedin-logo.png');
}

#button-linkedin:hover {
  background-image: url('../images/linkedin-logo-on.png');
}

#button-github {
  background-image: url('../images/github-logo.png');
}

#button-github:hover {
  background-image: url('../images/github-logo-on.png');
}

.subtitle {
  color: #98B0D9;
  font-size: 13pt;
  font-weight: bold;
  font-family: 'Oswald';
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  margin: 0.5rem 0 1.3rem 0;
}

.subtitle:before, .subtitle:after {
  content: '--';
  margin: 0 10px;
}
