/* front.css
 * styles for front page
 *
 * Michael Zhu, 2015
 */

#wallpaper {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -10;
}

#wallpaper-info {
  width: 100%;
  min-height: 40px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 100;
  padding-top: 3px;
  padding-right: 50px;
}

#wallpaper-info p {
  font-size: 10pt;
  line-height: 1rem;
  text-align: right;
  margin: 0;
}

#wallpaper-info p.author {
  font-size: 9pt;
  font-style: italic;
  color: #3676BA;
}

#button-zhq {
  background-image: url('../images/button_zhq.png');
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1000;
}

#button-zhq:hover {
  background-image: url('../images/button_zhq_on.png');
}

#main-content {
  position: relative;
  top: 150px;
}

#headshot {
  border-right: 1px solid rgba(34, 34, 34, 0.5);
}

#button-facebook {
  background-image: url('../images/facebook-logo.png');
}

#button-facebook:hover {
  background-image: url('../images/facebook-logo-on.png');
}

#button-linkedin {
  background-image: url('../images/linkedin-logo.png');
}

#button-linkedin:hover {
  background-image: url('../images/linkedin-logo-on.png');
}

#button-github {
  background-image: url('../images/github-logo.png');
}

#button-github:hover {
  background-image: url('../images/github-logo-on.png');
}

body {
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  margin: 0;
}

.subtitle {
  color: #333333;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Oswald';
  text-align: center;
  margin: 0.5rem 0 2rem 0;
}

.subtitle:before, .subtitle:after {
  content: '--';
  margin: 0 10px;
}

p {
  color: #FFFFFF;
}

a, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover, a:active {
  color: #B7B7B7;
}

a.icon {
  width: 25px;
  height: 25px;
  display: block;
}

a.social-icon {
  width: 35px;
  height: 35px;
  display: block;
  float: right;
  background-size: cover;
  margin-top: 10px;
  margin-left: 5px;
}