/* login.css
 * styles for login page
 *
 * Michael Zhu, 2015
 */

#login-section {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 10px 15px;
}

#login-section button[type="submit"] {
  margin: 5px 0;
}