/* resume.css
 * styles for resume page
 *
 * Michael Zhu, 2015
 */

div.row {
  max-width: 55rem;
}

#main-content {
  position: relative;
  top: 75px;
}

#resume-container {
  background-color: #FFFFFF;
}