/* resume.css
 * styles for resume page
 *
 * Michael Zhu, 2015
 */

div.row {
  max-width: 55rem;
}

#main-content {
  position: relative;
  top: 75px;
}

#resume-container {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 25px 35px;
  margin-bottom: 3rem;
}

/* resume container styles */
#resume-container * {
  color: #404040;
  font-size: 11pt;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  text-shadow: 0 0 1px rgba(64, 64, 64, 0.4);
  text-align: left;
}

#resume-container hr {
  border-top-width: 2px;
  border-color: #355269;
  margin: 0;
  margin-bottom: 0.5rem;
}

#resume-container h1 {
  color: #222222;
  font-size: 32pt;
  font-family: 'Open Sans Condensed', sans-serif;
  font-stretch: condensed;
  text-align: center;
  line-height: 3.5rem;
}

#resume-container h2 {
  color: #355269;
  background: -webkit-linear-gradient(left, rgba(154, 181, 228, 0.55), rgba(154, 181, 228, 0) 30%);
  background: linear-gradient(left, rgba(154, 181, 228, 0.55), rgba(154, 181, 228, 0) 30%);
  font-size: 12pt;
  font-weight: bold;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(36, 64, 97, 0.3);
  padding: 3px 10px 0px 10px;
  margin: 0;
}

#resume-container p {
  margin-bottom: 0.8rem;
}

#resume-container .strong {
  font-weight: bold;
  font-size: inherit;
}

#resume-container .em {
  font-style: italic;
  font-size: inherit;
}

#resume-container p.subtitle {
  font-size: 10pt;
  color: #777777;
  line-height: 1rem;
  text-align: center;
  text-shadow: 0 0 1px rgba(183, 183, 183, 1);
  font-style: italic;
  position: relative;
  top: -5px;
  margin: 0;
}

#resume-container p.subtitle a {
   color: #0645AD;
   text-decoration: underline;
}

#resume-container p.subtitle a:visited {
   color: #663366;
}

#resume-container ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

#resume-container ul li {
  position: relative;
}

#resume-container ul.skills {
  margin: 0;
}

#resume-container ul.skills li {
  float: left;
  font-style: italic;
  list-style-type: disc;
  margin-left: 30px;
  padding: 0;
}

#resume-container ul.skills li:first-child {
  list-style-type: none;
  margin: 0;
}

#resume-container table {
  width: 100%;
  border: none;
}

#resume-container table.skills {
  margin-bottom: 1rem;
}

#resume-container table.skills td {
  padding: 2px 10px;
}

#resume-container table.skills td:first-child {
  font-weight: bold;
  padding-right: 20px;
}

#resume-container table.experience {
  margin-bottom: 0rem;
}

#resume-container table.experience td {
  text-shadow: 0 0 2px rgba(165, 186, 212, 0.5);
  padding: 3px 10px;
}

#resume-container table.experience td:not(:first-child) {
  text-align: center;
}

#resume-container table.experience td:last-child {
  font-style: italic;
  text-align: right;
}

@media print {
  /* don't print everything outside #resume-container */
  .not-printable {
    display: none;
  }
  
  /* disable bootstrap style of printing links after url display text */
  a[href]:after {
     content: none;
  }

  #resume-container {
    padding: 0;
    margin-top: -4rem;
  }

  #resume-container * {
    text-shadow: none;
  }

  #resume-container hr {
    margin-bottom: 0.3rem;
  }

  #resume-container h1 {
    font-size: 38pt;
    font-weight: normal;
    line-height: 3rem;
    text-shadow: none;
    padding: 0;
    margin: 0;
    margin-top: -0.3rem;
  }

  #resume-container ul {
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    margin-bottom: 0.3rem;
  }

  #resume-container ul li {
    margin-left: 2rem;
  }

  #resume-container table.skills {
     width: 98%;
     margin-left: 2rem;
     margin-bottom: 0.3rem;
  }

  #resume-container table.skills td {
    padding: 0;
  }

  #resume-container table.skills td:first-child {
    /* shrink */
    width: 1px;
    white-space: nowrap;
    padding-right: 0;
  }

  #resume-container table.skills td:not(:first-child) {
    width: 100%;
  }
}
