/* style.css
 * global styles for site
 *
 * Michael Zhu, 2015
 */

body {
  background-image: url('../images/wall-default.png');
  background-repeat: no-repeat;
  background-position: center;
}

div.row {
  max-width: 100%;
}

div.columns {
  border: 1px solid black;
}

span.front-text {
  display: block;
  font-size: 60pt;
  font-family: 'Oswald';
  position: absolute;
  top: 30%;
  left: 10%;
}