/* style.css
 * global styles for site
 *
 * Michael Zhu, 2015
 */

body {
  background-image: url('../images/wall-default.png');
  background-repeat: no-repeat;
  background-position: center;
}

div.row {
  max-width: 45rem;
  min-width: 50%;
  min-height: 50%;
}

h1 {
  font-size: 60pt;
  font-family: 'Oswald';
  line-height: 5rem;
  text-transform: uppercase;
}