/* style.css
 * global styles for site
 *
 * Michael Zhu, 2015
 */

body {
  color: #FFFFFF;
  background-image: url('../images/wall-default.png');
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: 'Oswald';
  text-shadow: 0 0 5px rgba(34, 34, 34, 0.7);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 60pt;
  font-family: 'Oswald';
  line-height: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 22pt;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 18pt;
  margin-bottom: 1.5rem;
}

h5 {
  text-shadow: 0 0 2px rgba(34, 34, 34, 0.7);
}

p {
  color: #FFFFFF;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

a, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover, a:active {
  color: #B7B7B7;
}

a.icon {
  width: 25px;
  height: 25px;
  display: block;
}

a.social-icon {
  width: 35px;
  height: 35px;
  display: block;
  float: right;
  background-size: cover;
  margin-top: 10px;
  margin-left: 5px;
}

a.outer {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #333333;
  border-radius: 3px;
  font-size: 10pt;
  position: relative;
  top: -15px;
  padding: 5px 10px;
}

div.row {
  max-width: 45rem;
}

.group {
  content: "";
  display: table;
  clear: both;
}

/* navigation styles */
nav > ul {
  margin: 0;
  margin-bottom: 1rem;
}

nav > ul li {
  list-style-type: none;
  float: left;
}

nav > ul li a {
  background: rgba(0, 0, 0, 0.3);
  font-size: 10pt;
  border-radius: 3px;
  border: 1px solid #333333;
  padding: 7px 15px;
  margin: 0 7px;
}

nav > ul li a:hover {
  color: #B7B7B7;
  background: rgba(0, 0, 0, 0.35);
}

nav > ul li:first-child a {
  margin-left: 0;
}

nav > ul li:last-child a {
  margin-right: 0;
}

#wallpaper {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  z-index: -10;
}

#wallpaper-info {
  width: 100%;
  min-height: 40px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  padding-top: 3px;
  padding-right: 50px;
}

#wallpaper-info p {
  font-size: 10pt;
  line-height: 1rem;
  text-align: right;
  margin: 0;
}

#wallpaper-info p.author {
  font-size: 9pt;
  font-style: italic;
  color: #3676BA;
}

#button-zhq {
  background-image: url('../images/button_zhq.png');
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 1000;
}

#button-zhq:hover {
  background-image: url('../images/button_zhq_on.png');
}

#main-content {
  position: relative;
  top: 100px;
}

.columns:first-child {
  padding-left: 0;
}

.columns:last-child {
  padding-right: 0;
}

label {
  color: #FFFFFF;
  font-size: 12pt;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin-bottom: 0.5rem;
}

button {
  font-size: 10pt;
  border-radius: 3px;
  background-color: #B7B7B7;
  padding: 8px 20px;
}

button:hover {
  background-color: #999999;
}